.profile-page{
    padding: 80px 0;
}

.profile-title{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.booking-list table {
    width: 100%;
}
.booking-list table thead {
    background-color: #f5f6fa;
    height: 60px;
    vertical-align: middle;
}
.booking-list table thead td {
    padding: 15px;
}
.booking-list table tbody td {
    padding: 15px;
}
